<div class="border">

<div class="container margin-top stars" >
<i class="material-icons stars  ">
  stars
</i>
<i class="material-icons stars">
  stars
</i>
<i class="material-icons stars">
  stars
</i>
</div>
<p class="center-text margin-top">
  Twój wynik:
</p>
<p class="center-text font-number">
   {{score}}
</p>
<p class="center-text margin-top">
  Pobiłeś dotychczasowe rekordy innych graczy !
</p>
<div class="container">
    <span class="dot image-background-5">
      <i class="material-icons cup">emoji_events </i>
    </span>
    <span class="dot image-background-1"></span>
    <span class="dot image-background-2"></span>
    <span class="dot image-background-3"></span>
    <span class="dot image-background-4"></span>
</div>
<p class="center-text margin-top">
    W ramach uznania za Twój wyczyn, pokaż poniższy kod w Warsie i odbierz niespodziankę  :)
  </p>
<p class="center-text">
  <img src="../../../assets/icons/qrcode.png">
</p>
</div>
