@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

.example-card {
  max-width: 400px;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.container{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.stars{
font-size: 60px !important;
color: rgb(255,215,0);
}

.center-text{
text-align: center;
}

.margin-top{
  margin-top:30px;
}

.border{
  height:100%;
}

.font-number{
  font-family: 'Lato', sans-serif;
  font-weight: bolder;
  font-size:30px;
}

.dot {
  height: 35px;
  width: 35px;
  border-radius: 10%;
  position: relative;
}

.cup{
  color: gold;
  bottom: -10px;
  left: -5px;
  position: absolute;
}


.image-background-1{
  background-image: url(https://i.pravatar.cc/35)
}

.image-background-2{
  background-image: url(https://i.pravatar.cc/36)
}
.image-background-3{
  background-image: url(https://i.pravatar.cc/37)
}
.image-background-4{
  background-image: url(https://i.pravatar.cc/38)
}
.image-background-5{
  background-image: url(https://i.pravatar.cc/39)
}

