<zxing-scanner
    class="qrcode"
    [torch]="torchEnabled"
    [(device)]="currentDevice"
    (scanSuccess)="onCodeResult($event)"
    [formats]="formatsEnabled"
    [tryHarder]="tryHarder"
    (permissionResponse)="onHasPermission($event)"
    (camerasFound)="onCamerasFound($event)"
    (torchCompatible)="onTorchCompatible($event)"
></zxing-scanner>
<div class="col-md-3 bottom-input">
    Zeskanuj kod QR z biletu albo
    <div class="input-group">
        <div class="input-group-prepend size">
            <span
                class="input-group-text"
                id="inputGroupPrepend2"
            >
                <img
                    class="size"
                    src="../../assets/icons/train.svg"
                >
            </span>
        </div>
        <input
            [(ngModel)]="ticketNumber"
            (ngModelChange)="onChange($event)"
            type="text"
            class="form-control height"
            id="validationDefaultUsername"
            placeholder="Lub wpisz nr biletu"
            aria-describedby="inputGroupPrepend2"
            required
        >
    </div>
</div>
