@import '../../../colors';

.full-width-height {
  width: 100% !important;
  height: 100% !important;
}


.quiz-game {
  $quizGameSelf: &;

  text-align: center;
  padding: .75rem;

  &__next {
    position: absolute;
    right: 0;
    text-align: right;
    z-index: 999;

    &__container {
      display: inline-block;
      min-width: 50%;
      padding: 0.75rem
    }

    button {
      width: 100%;
      padding: .25rem;
      font-size: .75rem;
      border-radius: 1.5rem !important;
      // display: block;
    }
  }

  &__timer {
    padding: 0 .25rem;
  }

  &__question {
    margin-top: 1rem;
    &__more-info {
      font-size: .75rem;
      font-weight: 500;
      // color: $dark;
      margin: .5rem 0;
      color: rgba($darkDeep, .5);
    }
  }

  &__options {
    display: flex;
    flex-wrap: wrap;
    margin: .5rem 0;

    &__item {
      $optionsItemSelf: &;

      width: 50%;
      padding: .25rem;

      &__container {
        display: flex;
        padding: .75rem;
        background: #fff;
        // background: $light;
        border-radius: 1.5rem;
        box-shadow: 0 .25rem 2rem rgba($darkTurboDeep,.1);
        border: 2px solid transparent;
        font-size: .75rem;
        font-weight: 500;
        height: 100%;
        align-items: center;
        justify-content: center;
        transition: all .3s ease;
      }

      &--not-correct {
        #{ $optionsItemSelf }__container {
          background: #f8bcbc;
          color: #891212;
          box-shadow: 0 .25rem 2rem rgba(#f8bcbc,.5);
        }
      }

      &--correct {
        #{ $optionsItemSelf }__container {
          background: #bcf8bc;
          color: #128912;
          box-shadow: 0 .25rem 2rem rgba(#bcf8bc,.5);
        }
      }
    }
  }

  &:not(&--answered) {
    #{ $quizGameSelf }__options {
      &__item {
        &__container {
          cursor: pointer;

          &:hover {
            box-shadow: 0 .25rem 2rem rgba($darkTurboDeep,.25);
          }
        }
      }
    }
  }
}
