<!-- <mat-grid-list
    *ngIf="quizQuestions[0]"
    cols="4"
    rowHeight="100px"
    (click)="onClickNext()"
>
    <mat-grid-tile
        [colspan]=4
        [rowspan]=3
    >
        {{quizQuestions[0].questionText}}
        <app-quiz-note
            *ngIf="showCorrectAnswer"
            [quizNote]=quizQuestions[0].moreInfo
        ></app-quiz-note>
    </mat-grid-tile>

    <mat-progress-bar
        [value]="(timeLeft/timeInterval) * 100"
        [mode]="'determinate'"
        [color]="'primary'"
    ></mat-progress-bar>

    <mat-grid-tile
        *ngFor="let answer of quizQuestions[0].answers; let i = index"
        [colspan]=2
        [rowspan]=1
        (click)="onClickAnswer($event, i)"
    >
        <app-answer-button
            class="full-width-height"
            [answer]="answer"
            [isCorrect]="i === quizQuestions[0].correctAnswerId"
            [showBorder]="showCorrectAnswer"
        ></app-answer-button>
    </mat-grid-tile>
</mat-grid-list> -->

<div class="quiz-game" [class.quiz-game--answered]="showCorrectAnswer">

    <div class="quiz-game__timer">
        <mat-progress-bar
            [value]="(timeLeft/timeInterval) * 100"
            [mode]="'determinate'"
            [color]="'primary'"
        ></mat-progress-bar>
    </div>

    <div class="quiz-game__question">
        {{ quizQuestions[0].questionText }}
    </div>

    <div class="quiz-game__options">
        <div
            *ngFor="let answer of quizQuestions[0].answers; let i = index"
            (click)="onClickAnswer($event, i)"
            class="quiz-game__options__item"
            [class.quiz-game__options__item--not-correct]="i === answerId && showCorrectAnswer"
            [class.quiz-game__options__item--correct]="i === quizQuestions[0].correctAnswerId && showCorrectAnswer"
        >
            <div class="quiz-game__options__item__container">
                {{ answer }}
            </div>
        </div>
    </div>

    <div
        *ngIf="showCorrectAnswer"
        class="quiz-game__next"
    >
        <div class="quiz-game__next__container">
            <button
                (click)="onClickNext()"
                mat-flat-button
                color="primary"
            >
                Następne pytanie
            </button>
        </div>
    </div>

</div>