.user-id{
    font-size: 14px;
    margin-right: 1em;
}


.login{
    display: flex;

    &__photo{
        display: inline-block;
        width: 40px;
        height: 40px;
        img{
            border-radius: 50%;
            max-width: 100%;
            max-height: 100%;
        }
    }
}