<div class="login" *ngIf="auth.user$ | async as user; else login">
    <div class="login__photo" matTooltip="{{user.displayName}}">
        <img src="{{user.photoURL}}">
    </div>
    <button mat-button color="accent" (click)="auth.signOut()">Wyloguj</button>
</div>


    <ng-template #login>
<button mat-button color="primary" (click)="auth.googleSignin()">Zaloguj się</button>
</ng-template>
      