<h2>Najlepsze wyniki!</h2>
<mat-list>
    <mat-list-item>
        <img src="assets/profile-image.jpg">
        Darek:
        <mat-chip-list>
            <mat-chip color="primary">10000pkt</mat-chip>
        </mat-chip-list>
    </mat-list-item>
    <mat-list-item>
        <img src="assets/profile-image.jpg">
        Kamil:
        <mat-chip-list>
            <mat-chip color="primary">10000pkt</mat-chip>
        </mat-chip-list>
    </mat-list-item>
    <mat-list-item>
        <img src="assets/profile-image.jpg">
        Kacper:
        <mat-chip-list>
            <mat-chip color="primary">10000pkt</mat-chip>
        </mat-chip-list>
    </mat-list-item>
    <mat-list-item>
        <img src="assets/profile-image.jpg">
        Mirek:
        <mat-chip-list>
            <mat-chip color="primary">10000pkt</mat-chip>
        </mat-chip-list>
    </mat-list-item>
    <mat-list-item>
        <img src="assets/profile-image.jpg">
        Maciej:
        <mat-chip-list>
            <mat-chip color="primary">10000pkt</mat-chip>
        </mat-chip-list>
    </mat-list-item>
    <mat-list-item>
        <img src="assets/profile-image.jpg">
        Rysiek:
        <mat-chip-list>
            <mat-chip color="primary">10000pkt</mat-chip>
        </mat-chip-list>
    </mat-list-item>
</mat-list>
