.toolbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    z-index: 999;
    position: relative;

    &__logo {
        width: 100px;
    }
}
.qrscan{
    padding: 0 .5em;
    min-width: 0;
}