<mat-toolbar>
    <div class="toolbar">
        <!-- <div class="toolbar__title">{{ title }}</div> -->
        <div
            class="toolbar__logo"
            routerLink="/"
        >
            <img
                src="/assets/logo-pkp-ic.svg"
                alt
            >
        </div>
        <app-auth></app-auth>

        <!-- <button
            routerLink="/friends"
            mat-button
            class="qrscan"
        >
            <i class="material-icons">emoji_emotions</i>
        </button> -->
        <!-- <button
            routerLink="/qrCode"
            mat-button
            class="qrscan"
        > -->
            <!-- <i class="material-icons">filter_center_focus</i> -->
        <!-- </button> -->
    </div>
</mat-toolbar>