<app-track
    *ngIf="routing"
    [track]="track"
></app-track>
<div class="game-container">
    <app-train [trainObservable]="trainObservable"></app-train>
    <app-game-panel *ngIf="routing; else elseBlock;"></app-game-panel>
</div>
<ng-template #elseBlock>
    <div class="main__content m-3">
        <div class="main__content__title mb-4">
            Zeskanuj swój bilet i miej dostęp do większej ilośći informacji o Twoim prezjeździe.
        </div>
        <button
            routerLink="/qrCode"
            class="main__content__start-button"
            mat-flat-button
            color="primary"
            (click)="startGame()"
        >
            Skanuj bilet
        </button>
    </div>
</ng-template>
<ng-template #playGame>
        <div class="main__content m-3">
            <div class="main__content__title mb-4">
                Zagraj w grę z przyjaciółmi, zdobywaj nagrody i darmowe zniżki na posiłki.
            </div>
            <button
                routerLink="/qrCode"
                class="main__content__start-button"
                mat-flat-button
                color="primary"
                (click)="startGame()"
            >
                Zagraj!
            </button>
        </div>
    </ng-template>
    