:host {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.main {
  &__content {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;

    &__title {
      font-size: 1rem;
    }

    &__start-button {
      display: block;
      width: 100%;
      min-height: 5rem;
      font-size: 1.15rem;
    }
  }
}
