button {
  width: 100% !important;
  min-width: unset !important;
  height: 100% !important;
  border: 1px solid red;
  white-space: pre-wrap !important;
}

.z-depth-5 {
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12),
    0 8px 10px -5px rgba(0, 0, 0, 0.3) !important;
}
