
@import '../node_modules/@angular/material/theming';

$primary: #0071bc;
$secondary: #f58220;

$green: rgb(99, 216, 99);

$light: #f0f5f7;
$lightDeep: #e1eaef;

$dark: #4b606b;
$darkDeep: #2f3e47;
$darkTurboDeep: #212d33;

$mat-blue: (
  50: #e3f2fd,
  100: #bbdefb,
  200: #90caf9,
  300: #64b5f6,
  400: #42a5f5,
  500: #0071bc, // to jest w buttonach
  600: darken(#0071bc, 5),
  700: darken(#0071bc, 10),
  800: darken(#0071bc, 15),
  900: darken(#0071bc, 20),
  A100: #82b1ff,
  A200: #448aff,
  A400: #2979ff,
  A700: #2962ff,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $light-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text,
  )
);
