/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/indigo-pink.css';
@import '../node_modules/@angular/material/theming';
@import 'colors';

@include mat-core();

$custom-theme-primary: mat-palette($mat-blue);
$custom-theme-accent: mat-palette($mat-deep-orange, A200, A100, A400);
$custom-theme-warn: mat-palette($mat-red);

$custom-theme: mat-light-theme($custom-theme-primary, $custom-theme-accent, $custom-theme-warn);

@include angular-material-theme($custom-theme);

body {
  font-size: 16px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  color: $darkDeep;
}

.qrcode{
  video{
    height: 90vh !important;
    width: 100%;
  }
}

.mat-toolbar {
  background: #fff;
}

.mat-toolbar-row,
.mat-toolbar-single-row {
  height: 64px !important;
}

.mat-button, .mat-flat-button, .mat-icon-button, .mat-stroked-button {
  border-radius: .5rem !important;
}

.track {
  // margin-bottom: -1.5rem;

  .mat-step-header {
    padding-top: .25rem !important;
    padding-bottom: .25rem !important;

    &::before,
    &::after {
      top: 11px !important;
    } 
  }

  .mat-stepper-label-position-bottom .mat-stepper-horizontal-line {
    top: 11px !important;
  }

  .mat-step-label {
    padding-top: 4px !important;
  }
  .mat-horizontal-content-container {
    padding: 0 !important;
  }
}

.mat-progress-bar {
  border-radius: 50px;
}
