<div class="track">
    <mat-horizontal-stepper labelPosition="bottom" linear> 
        <template *ngFor="let city of track">
            <mat-step editable="false" [completed]=city[1]> 
                <form>
                    <ng-template matStepLabel>{{ city[0] }}</ng-template>
                </form>
            </mat-step>   
        </template>
    </mat-horizontal-stepper>
</div>