// .train {
//   &__car {

//   }
// }
@import '../../../colors';

// $width: 700px;
// $height: 162px;
// $connectorWidth: 20px;
// $wheelsWidth: 539px;

// $wantedWidth: 250px;

// $calculatedHeight: calc($height / $width) * $wantedWidth;
// $calculatedConnectorWidth: ($height / $width) * $connectorWidth;
// $calculatedWheelsWidth: ($height / $width) * $wheelsWidth;

// $backgroundWidth: 320px;

// $scrollbar-height: 24px;

$backgroundWidth: 320px;

$scrollbar-height: 24px;

.train-environment {

  --width: 700px;
  --height: 162px;
  $ratio: 162 / 700;
  --connectorWidth: 20px;
  $wheelsRatio: 539 / 700;

  --wantedWidth: 200px;
  
  --calculatedHeight: calc( #{$ratio} * var(--wantedWidth));
  --calculatedConnectorWidth: calc(#{$ratio} * var(--connectorWidth));
  --calculatedWheelsWidth: calc(var(--wantedWidth) * #{$wheelsRatio} );

  $self: &;

  margin-top: 1rem;
  position: relative;
  display: flex;
  flex-direction: column;

  transition: margin-top .3s ease;

  &.gameMode{
    --wantedWidth: 300px;
    margin-top: 40vh;
    .train-environment__train__car:last-child{
      margin-right: 60vw;
    }
    .train-environment__background{
      animation-duration: 1s;
    }
  }

  &__train-scrollbar {
    overflow-y: hidden;
  }

  &__train-container {
    overflow-x: scroll;
    margin-bottom: -$scrollbar-height !important;
    padding-bottom: $scrollbar-height !important;
  }

  &__train {
    margin-top: 32px;
    padding-bottom: 2px;
    position: relative;

    text-align: center;
    display: inline-block;
    white-space: nowrap;
    min-width: 100%;
    font-size: 0;
    z-index: 1;

    // RAILS
    &::before {
      content: '';
      height: 2px;
      background: #BFDAEC;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
    }

    &__car {
      $carSelf: &;
      position: relative;
      width: var(--wantedWidth);
      min-width: var(--wantedWidth);
      height: var(--calculatedHeight);
      padding: 4px 1px;
      box-sizing: content-box;
      display: inline-block;
      vertical-align: bottom;
      transition: all .3s ease;

      &--your-car {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1rem;
        bottom: 100%;
        text-align: center;
        left: 0;
        right: 0;

        font-weight: bold;
        color: $primary;

        img {
          height: 1.5rem;
          margin-right: .5rem;
        }
      }

      &__body {
        height: 100%;
        width: 100%;
        background-image: url(~src/assets/train/middle.svg);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center center;
        position: relative;
        z-index: 1;
      }

      &:first-child {
        margin-left: 32px;
        #{ $carSelf }__body {
          background-image: url(~src/assets/train/rear.svg);
        }
      }

      &--wars {
        #{ $carSelf }__body {
          background-image: url(~src/assets/train/wars.svg);
        }
      }

      &:last-child {
        transition: margin-right .3s ease;
        margin-right: 32px;
        #{ $carSelf }__body {
          background-image: url(~src/assets/train/front.svg);
        }
      }

      &::before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        top: 0;
        background-image: url(~src/assets/train/wheels.svg);
        background-repeat: no-repeat;
        background-size: var(--calculatedWheelsWidth);
        background-position: center bottom;
        transition: all .3s ease;
      }

      &:not(:first-child)::after {
        content: '';
        position: absolute;
        left: calc(var(--calculatedConnectorWidth) / -2);
        right: 0;
        bottom: 0;
        top: 0;
        background-image: url(~src/assets/train/connector.svg);
        background-position: left center;
        background-repeat: no-repeat;
        background-size: var(--calculatedConnectorWidth);
        transition: all .3s ease;
      }

      // animation
      &__body {
        animation-name: train-going__train;
        animation-duration: 3s;
        animation-iteration-count: infinite;
        animation-delay: inherit;
        animation-play-state: paused;
      }
      @for $i from 1 through 20 {
        &:nth-child(#{$i}) {
          animation-delay: .15s * (20 - $i);
        }
      }
      &::after {
        animation-name: train-going__train__connector;
        animation-duration: 3s;
        animation-iteration-count: infinite;
        animation-delay: inherit;
        animation-play-state: paused;
      }
    }
  }

  &__rails {
    height: 2px;
    background: #4B606B;
  }

  &__background {
    position: absolute;
    top: -$scrollbar-height;
    bottom: $scrollbar-height;
    left: 0;
    right: 0;
    background-image: url(~src/assets/train/mountains.svg);
    background-repeat: repeat-x;
    background-size: $backgroundWidth;
    background-position-y: bottom;
    // opacity: .5;

    // animation
    animation: bg-anim;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-play-state: paused;
  }

  &--train-standing {
    #{ $self }__train {
      
    }
    #{ $self }__rails {
      
    }
    #{ $self }__background {
      
    }
  }

  &--train-going {
    #{ $self }__train {
      &__car {
        &__body {
          animation-play-state: running;
        }

        &::after {
          animation-play-state: running;
        }
      }
    }

    #{ $self }__rails {
    }

    #{ $self }__background {
      animation-play-state: running;
    }
  }
}

@keyframes train-going__train {
  0% {
    transform: translateY(0)
  }
  15% {
    transform: translateY(-3px)
  }
  30% {
    transform: translateY(0)
  }
  45% {
    transform: translateY(-2px)
  }
  60% {
    transform: translateY(0)
  }
}

@keyframes train-going__train__connector {
  0% {
    transform: translateY(0)
  }
  15% {
    transform: translateY(-1.5px)
  }
  30% {
    transform: translateY(0)
  }
  45% {
    transform: translateY(-1px)
  }
  60% {
    transform: translateY(0)
  }
}

@keyframes bg-anim {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: -$backgroundWidth;
  }
}