<div
  class="train-environment"
  [class.train-environment--train-going]="trainGoing"
  [ngClass]="{'gameMode': gameMode}"
>

  <div id="train-environment__train-scrollbar" class="train-environment__train-scrollbar">
    <div class="train-environment__train-container">
      <div class="train-environment__train train">

        <div
          *ngFor="let car of cars; let i = index"
          class="train-environment__train__car"
          [class.train-environment__train__car--wars]="train && train.warsPosition === i + 1"
        >
          <div *ngIf="train && i === train.userWagon" class="train-environment__train__car--your-car">
            <img src="/assets/train/pin.svg">
            Tu jesteś
          </div>
          <div class="train-environment__train__car__body">
          </div>
        </div>

      </div>
    </div>
  </div>
  <div class="train-environment__background"></div>

</div>


